# Created by venv; see https://docs.python.org/3/library/venv.html
# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Environment files
*.env
.env

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
Sharepoint_BQ_MYSQL_ETL/

# Distribution / packaging
build/
dist/
*.egg-info/

# VSCode settings folder (optional)
.vscode/

